body {
    text-align: center;
    background-image:image();
    background-size: cover;
}

h1 {
    font-family: 'BioRhyme Expanded', serif;
    font-size: 50px;
    margin: 0.2em;
}

h2 {
    margin: 1em 0 0.25em;
    font-family: 'Lobster', cursive;
}

table,
tr,
td {
    border: 1px;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 20px;
}

td {
    width: 20px;
}

input[type=number] {
    width: 6em;
}

h3 {
  font-family: 'Lobster', cursive;
}

p{
  font-family: 'Acme', sans-serif;
}
